.main-header {
  height: 50px !important;
  width: 100%;
  position: fixed;
  z-index: 1000;
  .wrapper {
    width: 1196px;
    display: flex;
    margin: 0 auto;
  }
  .logo {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
  }
  .ant-menu {
    margin-left: 5%;
  }
}