.game {
  padding-top: 20px;
  .label-game {
    transition: background 0.3s ease;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
  }
}

.ant-table-wrapper {
  padding-top: 20px;
}
